* {
    margin: 0px;
    padding: 0px;
    border: 0px;
}

#page {
    max-width: 1150px;
    background-color: rgb(3, 51, 18);
    margin: auto;
    padding: 4px;
}

header {
    background-image: url("../imagens/banner.png");
    background-size: cover;
}

#logo {
    position: absolute;
    padding: 8px;
}

@media (max-width: 720px) {
    #logo {
        position: relative;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
}

#banner {
    display: flex;
    justify-content: center;
}

#banner img {
    margin-top: 8px;
    margin-bottom: 0px;
}

body {
    background-image: url("../imagens/bg.png");
}

nav {
    background-image: url("../imagens/timmy.png");
    background-size: 50px;
    background-repeat: repeat;
    min-height: 80px;
    height: auto;
}

nav ul {
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

nav li {
    display: flex;
    font-size: 20px;
    font-family: 'Bebas Neue', cursive;
}

nav a {
    width: 230px;
    height: 80px;
    background-image: url('../imagens/menu.png');
    background-size: 230px;
    color: white;
    transition: all 1.8s ease;
    text-align: center;
    line-height: 80px;
    text-decoration: none;
    display: inline-block;
}

nav a:hover {
    background-image: url("../imagens/menualt.png");
}

#product {
    position: relative;
}

#dropdown {
    z-index: 2;
    position: absolute;
}

#dropdown a {
    display: block;
}

.up{
    display: none;
}
.drop {
    display: flex;
    flex-direction: column;
    top: 100%
}

footer {
    background-color: rgb(26, 26, 26);
    padding-top: 8px;

}

#grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 50%));
    justify-content: center;
    margin-bottom: 3px;
}

#fr1 {
    display: flex;
    justify-content: center;
}

#fr2c1 {
    margin: auto;
    flex-wrap: wrap;
}

#header1,
#header2 {
    margin-bottom: 1rem;
}

#copyright,
#header1,
#header2 {
    color: rgb(81, 81, 81);
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

.conteudofooter {
    display: flex;
    align-items: center
}

.conteudofooter b {
    color: rgb(81, 81, 81);
    font-family: 'Times New Roman', Times, serif;
    margin-left: 4px;
}

#fr2c2 {
    margin: auto;
}

#fr3 {
    display: flex;
    justify-content: center;
    padding-bottom: 3px;
}

main {
    max-width: 1150px;
    height: auto;
    background-color: rgba(44, 44, 44, 0.856);
    font-family: 'Arima Madurai', cursive;
    color: rgb(221, 221, 221);
}

main h2,
h3 {
    text-align: center;
}

#video {
    max-width: 100%;
    position: relative;
    padding-top: 56.25%;
}

#video-holder {
    padding-bottom: 5px;
    margin: auto;
    max-width: 650px;

}

iframe {
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

span {
    text-decoration: underline;
    font-weight: bolder;
}

.pic {
    border: 5px outset rgb(95, 95, 95);
}

#summary a {
    color: white;
    display: inline-flex;
    margin: 10px 0px 0px 10px;
}

.listinha {
    text-align: center;
}

.bigfoot-et,
#nessie {
    display: flex;
    margin: 25px;
    align-items: center;
}

.bigfoot-et {
    flex-direction: row;
}

#nessie {
    flex-direction: row-reverse;
}

.monstertext {
    display: block;
    text-align: center;
    margin: 5px;
}

@media (max-width: 1080px) {
    #nessie {
        flex-direction: column;
        justify-content: center;
    }

}

@media (max-width: 795px) {
    .bigfoot-et {
        flex-direction: column;
        justify-content: center;
    }

}

#galeria {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.cardimagem {
    position: relative;
    text-align: center;
    width: 400px;
    height: 400px;
    border: 5px outset rgb(95, 95, 95);
    margin-bottom: 25px;
}

.cardtext {
    position: absolute;
    bottom: 0;
    background-image: linear-gradient(to bottom, rgba(255, 0, 0, 0), black);
}

#tabela {
    overflow-x: auto;
}

table li {
    margin-left: 25px;
    list-style-type: disc;
}

.sub {
    margin-left: 20px;
}

table,
th,
td {
    border: 2px solid rgb(114, 114, 114);
    padding: 2px;
    border-radius: 10px;
}

thead {
    font-size: 20px;
    background-color: black;
}

td:not(.lista) {
    text-align: center;
}

#produtos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    padding: 25px;
}

.produto {
    border: 3px solid black;
    background-color: grey;
    display: flex;
    flex-direction: column;
}

.nomeproduto {
    font-size: 14px;
    margin-left: 2px;
}

.preco {
    font-size: 22px;
    margin-left: 2px;
}

.info {
    font-size: 13px;
    margin-left: 2px;
}

.preco span {
    text-decoration: line-through;
}

.qsomos {
    margin: 20px 0 0 20px;
    padding-bottom: 20px;
}

.qsomos li {
    margin-left: 20px;
}

.ocupation {
    font-size: 22px;
    list-style-type: disc;
}

.people {
    font-size: 18px;
    list-style-type: circle;
}

.speech {
    font-style: italic;
    font-size: 16px;
    list-style-type: none;
}

figcaption {
    background-color: #222;
    color: #fff;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
}

figure {
    border: 5px #c0c0c0 solid;
    display: flex;
    flex-flow: column;
    max-width: 220px;
}

fieldset {
    border: 2px solid black;
    padding: 10px;
}

input {
    background-color: rgb(81, 81, 81);
    border: 1px solid black;
}

#date {
    color: white;
}

button {
    display: block;
    width: 80px;
    height: 40px;
    font-size: large;
}

textarea {
    width: 50%;
    height: 200px;
    resize: none;
    background-color: rgb(81, 81, 81);
    color: white;
}
#message, #message2{
    color:red;
}
.wrong{
    border: 1px solid red;
}
button{
    font-size: medium;
    height: 25px;
    width: 70px;
}

.formhide{
    display: none;
}

#form3 p {
    font-size: large;
    margin-left: 25px;

}

#form3 div{
    display: flex;
    align-items: flex-start;    
}

.twinbutton{
    margin: 10px;
}

#anim {
    height: 600px;
    overflow:hidden;
}

#animation {
    height: 150px;
    width: 150px;
    top: 0%;
    left: 0%;
    position: relative;
    background-image: url("../imagens/orra.png");
    background-size: cover;
    animation-name: huh;
    animation-duration: 20s;
    animation-delay: 1.5s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-timing-function: linear;
}

@keyframes huh {
    12.5% {
        transform: rotate(-180deg);
        left: calc(50% - 75px);
        top: 0%;
    }

    25% {
        left: calc(100% - 150px);
        top: 0%;
        background-image: url("../imagens/sup.png");
        transform: rotate(-360deg);
    }

    37.5% {
        transform: rotate(-540deg);
        top: calc(50% - 75px);
        left: calc(100% - 150px);
    }

    50% {
        top: 450px;
        left: calc(100% - 150px);
        background-image: url("../imagens/sup.png");
        transform: rotate(-720deg);

    }

    62.5% {
        top: 450px;
        left: calc(50% - 75px);
        transform: rotate(-900deg);
    }

    75% {
        background-image: url("../imagens/orra.png");
        transform: rotate(-1080deg);
        left: 0%;
        top: 450px;
    }

    87.5% {
        transform: rotate(-1260deg);
        left: 0%;
        top: calc(50% - 75px);
    }

    100% {
        background-image: url("../imagens/orra.png");
        top: 0px;
        left: 0%;
        transform: rotate(-1440deg);
    }
}
#form4{
    border: 2px solid black;
}
form h2{
    text-align: center;
}
#form4 img{
    width: 282px;
    display:flex;
    margin: 0 auto 10px auto;
    border: 4px dashed rgb(255, 0, 191);
}